.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  padding-top:20px;
  cursor: pointer;
  transition: color 0.3s;
  float: left;
}

.trigger:hover {
  color: #1890ff;
  float: left;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

#root{
  height: 100%;
}